/*HEADER*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
}

.header-logo {
  display: inline-block;
  height: 12rem;
  width: 12rem;
  margin-top: -2rem;
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.header-nav-link:link,
.header-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: all 0.3s;
  padding: 0.8rem 1.2rem;
}

.header-nav-link:hover,
.header-nav-link:active {
  color: #fff;
  transform: translateY(-5px) scale(1.03);
}

.header-nav-link.cta-link:link,
.header-nav-link.cta-link:visited {
  background-color: #ff5722;
  color: #fff;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.header-nav-link.cta-link:hover,
.header-nav-link.cta-link:active {
  background-color: #e67700;
}

section,
footer {
  padding: 9.6rem 0;
}
/*HERO SECTION*/
.hero {
  padding: 0 3.2rem;
}

.hero-desc {
  margin-bottom: 2.4rem;
}

.hero-img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
}

/*HOW SECTION*/
.how {
  padding: 0 3.2rem;
}

.step {
  text-align: center;
}

.step-icon {
  color: #6b8d1a;
  font-size: 4.4rem;
  margin-bottom: 3.2rem;
}

.step-link {
  text-align: center;
  margin-top: 3.2rem;
}

/*PRODUCTS SECTION*/
.product {
  background-color: rgba(255, 255, 255, 0.4);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
  position: relative;
  border-bottom: 16px solid transparent;
  transition: all 0.5s;
}

.product:hover {
  transform: translateY(-12px);
}

.product--1 {
  border-bottom-color: #e8cb2d;
}

.product--2 {
  border-bottom-color: #a3312d;
}
.product--3 {
  border-bottom-color: #adad70;
}

.product-img-box {
  border-radius: 9px;
  overflow: hidden;
}

.product-img {
  width: 100%;
}

.product-text-box {
  text-align: center;
  padding: 2.4rem 2.4rem 4.8rem;
}

.btn.btn--abs {
  position: absolute;
  left: 50%;
  bottom: -12%;
  transform: translate(-50%, -50%);
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.6rem;
}

.features-list {
  list-style: none;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1;
}

.feature-item:not(:last-child) {
  margin-bottom: 2.4rem;
}

.feature {
  font-size: 1.6rem;
}

.feature-icon {
  font-size: 3rem;
  color: #ff5722;
}
.feature-icon.main {
  font-size: 7.4rem;
}

/*CTA SECTION*/
.cta {
  background-color: #fff;
  background-image: url(../img/bag.avif);
  background-repeat: no-repeat;
  background-position-x: right;
  border-radius: 9px;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
  opacity: 0.75;
}

.cta-text-box {
  width: 50%;
  padding: 3.2rem;
}

.form-cta *:focus {
  outline: none;
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 2.4rem;
}

.form-group label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.form-group input,
.form-group select {
  width: 60%;
  padding: 0.8rem 1.2rem;
  border: none;
  border-bottom: 1px solid #999;
}

.form-group select {
  font-family: inherit;
  color: inherit;
  font-size: 1.6rem;
}

.form-group input::placeholder {
  color: #aaa;
}

/*FOOTER*/
.footer-content {
  padding: 0 3.2rem;
  font-size: 1.3rem;
  line-height: 1.4;
}

/* .footer-col {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
} */
.footer-heading {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.footer-logo {
  width: 12rem;
  height: 12rem;
  margin-top: -2rem;
  margin-left: -1.3rem;
}

.social-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
}

.contacts {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-link:link,
.footer-link:visited {
  /* font-size: 1.6rem; */
  text-decoration: none;
  color: inherit;
}

.footer-icon {
  font-size: 2.4rem;
  color: #aaa;
}
